<div style="margin-top: 120px;">

    <h2 style="font-size: 40px; color: red;">About Us</h2>
  <h3><p>Welcome to our food reuse website, where we connect generous donors with those in need. Our mission is to reduce food waste and fight hunger by redistributing excess food to the ones who need it the most.</p></h3>

  <h2 style="color: red;">Our Motto</h2>
  <blockquote class="quote" style="color: white;">"Let's turn surplus into sustenance, together!"</blockquote>

  
  <div class="developer-details" >
    <h6 style="color: antiquewhite;"><p>Developed by:</p>
        <p>Arpit Jaswal</p>
        <p>iamarpitjaswal@gmail.com</p>
        <p>Winter Internship Project 2023</p>
    </h6>
  </div>

</div>

  
